/* 
    Write your CSS here 
    Gap Colour: #000
    White: #F0F1EC
    Red: #E72F24
    Black: #232629
    Blue: #004592
    Yellow: #F9D01E
    */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
}

.container {
    width: 748px;
    height: 748px;
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 155px 22px;
    gap: 9px;
}

.red {
    background-color: #E72F24;
}

.white1 {
    background-color: #F0F1EC;
    grid-column: span 3;
}

.white2 {
    background-color: #F0F1EC;
    grid-row: span 2;
}

.white3 {
    background-color: #F0F1EC;
    grid-area: 2 / 2 / 4 /4
}

.blue {
    background-color: #004592;
    border-bottom: 10px solid #000;
}

.white4 {
    background-color: #F0F1EC;
    grid-row: span 2;
}

.yellow {
    background-color: #f9d01e;
}

.black {
    background-color: #232629;
}

.smallitem {
    background-color: #F0F1EC;
}